.divMain{
    width:auto;
    height: auto;
    background: #9df6f6;
    border: 3px solid #130e0e;
}
.divTittle{
    width: auto;
    height: 25px;
    background: #d5ede5;
    border: 1px solid coral;
}
.divMonth{
    width: 200px;
    height: auto;
    background: #c089d5;
    border: 1px solid #d950ff;
}
.divMH{
    width: auto;
    height: auto;
    display: flex;
    gap: 20px;

}
.divHour{
    width: 200px;
    height: auto;
    background: rgb(165, 173, 236);
    border: 1px solid #d950ff;
}
.divModules{
    width: auto;
    height: auto;
    background: #82efcb;
    border: 2px solid #860ba8;
}